.header img {
  height: 30px;
  margin: 0 auto;
}
.header {
  text-align: center;
}
.header nav {
  background: linear-gradient(-50deg, #ee5952, #ea3a7e, #20aadb, #23e0b3);
  background-size: 320% 200%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  line-height: 40px;
  font-size: 25px;
  font-weight: 400;
  padding: 20px;
  width: 100%;
}
.signOutBtn {
  background-color: transparent;
  border: 2px solid white;
  padding: 8px 15px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.signOutBtn:hover {
  border: 2px solid gray;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 30px;
}
nav a:hover {
  color: gray;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
